version: '3.7'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    platform: linux/arm64/v8
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
      - ../logs/nginx:/var/log/nginx
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    platform: linux/arm64
    restart: unless-stopped
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  moabam-blue:
    image: ${DOCKER_HUB_USERNAME}/${DOCKER_HUB_REPOSITORY}:${DOCKER_HUB_TAG}
    container_name: ${BLUE_CONTAINER}
    restart: unless-stopped
    expose:
      - ${SERVER_PORT}
    depends_on:
      - redis
    environment:
      SPRING_ACTIVE_PROFILES: ${SPRING_ACTIVE_PROFILES}
  moabam-green:
    image: ${DOCKER_HUB_USERNAME}/${DOCKER_HUB_REPOSITORY}:${DOCKER_HUB_TAG}
    container_name: ${GREEN_CONTAINER}
    restart: unless-stopped
    expose:
      - ${SERVER_PORT}
    depends_on:
      - redis
    environment:
      SPRING_ACTIVE_PROFILES: ${SPRING_ACTIVE_PROFILES}
  redis:
    image: redis:alpine
    container_name: redis
    platform: linux/arm64
    restart: always
    command: redis-server
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
