server {
    listen          80;
    server_name     ${SERVER_DOMAIN};
    access_log      /var/log/nginx/access.log main;
    error_log       /var/log/nginx/error.log error;

    location ^~ /actuator {
        return 404;
    }

    location / {
        proxy_pass http://backend;
    }
}
