server {
    listen          80;
    server_name     ${SERVER_DOMAIN};

    location / {
        return 301 https://$http_host$request_uri;
    }

    location /.well-known/acme-challenge/ {
        allow all;
        root /var/www/certbot;
    }
}
